*,
*::before,
*::after,
html,
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}
body {
	background-color: #fce5dc;
}
main {
	height: 100%;
}

/************** HEADER **********************/
header {
	background-color: rgb(49, 117, 169);
	color: white;
}

header ul {
	display: flex;
	align-items: center;
	height: 80px;
	padding: 0px 50px;
}

header ul li {
	list-style-type: none;
	margin: 0 15px;
}

header a {
	color: white;
	text-decoration: underline;
}
/* ? ******************************** MAIN **************************************/

/************** Banner ******************/
.banner {
	margin-bottom: 50px;
	height: 500px;
	background: url(/Assets/MEDIA/IMG/library.jpg) center/cover;
}

/************** Search ******************/
.search {
	padding: 0 33% 50px;
}

.search input {
	width: 100%;
	padding: 10px 20px;
	font-size: 1rem;
	color: #0b92b0;
	border-radius: 20px;
	border: 1px solid #0b92b0;
	background-color: rgba(255, 255, 255, 0.5);
}

/************** BOOK LIST ******************/
.book-list {
	margin: 0 15% 50px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 50px 40px;
}

.book-list-title {
	font-size: 25px;
	font-weight: bold;
	color: #0b92b0;
}

.book-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
	padding: 15px;
}

.book-item {
	margin-bottom: 20px;
}

.book-img {
	height: 150px;
	width: 150px;
	background: url(/Assets/MEDIA/IMG/library.jpg) center/cover;
	margin-bottom: 15px;
	box-shadow: 5px 5px 10px lightgray;
	border-radius: 5px;
}

.book-title {
	font-size: 1rem;
	font-weight: bold;
}

.book-author {
	font-size: 1.125rem; //Rajout
	color: #515151;
	font-style: italic;
}

/*TODO:1h12m57s*/

/* ? ******************************** MAIN END **************************************/
