*,
*::before,
*::after,
html,
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	font-size: 16px;
}

body {
	background-color: #fce5dc;
}

main {
	height: 100%;
	padding-top: 80px;
}

.section-width {
	max-width: 1500px;
	margin: 0 auto;
}

/************** HEADER **********************/
header {
	background-color: rgb(160, 77, 21);
	color: white;
	position: fixed;
	width: 100%;
}

header ul {
	display: flex;
	align-items: center;
	height: 80px;
	padding: 0px 50px;
}

header ul li {
	list-style-type: none;
	margin: 0 15px;
}

header a {
	color: white;
}

header a:hover {
	text-decoration: underline;
}
/* ? ******************************** MAIN **************************************/

/************** Banner ******************/
.banner {
	margin-bottom: 50px;
	height: 500px;
	background: url(/Assets/MEDIA/IMG/library.jpg) center/cover;
}

/************** Search ******************/
.search {
	padding: 0 33% 50px;
}

.search input {
	width: 100%;
	padding: 10px 20px;
	font-size: 1rem;
	color: #0b92b0;
	border-radius: 20px;
	border: 1px solid #0b92b0;
	background-color: rgba(255, 255, 255, 0.5);
}

/************** BOOK LIST ******************/
.book-list {
	/* margin: 0 15% 50px; */
	background-color: rgba(255, 255, 255, 0.5); /*En option*/
	padding: 50px 40px;
}

.book-list-title {
	font-size: 25px;
	font-weight: bold;
	color: rgb(163, 139, 117);
}

.book-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
	padding: 15px;
}

.book-item {
	margin-bottom: 20px;
	width: 22%;
	background-color: rgba(241, 230, 221, 0.623);
	padding: 40px;
	border-radius: 20px;
	text-align: center;
}

.book-img {
	/* box-shadow: 5px 5px 10px lightgray; */
	margin: 0 auto 15px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.book-img img {
	max-height: 200px;
	max-width: 100%;
}

.book-title {
	font-size: 1rem;
	font-weight: bold;
	color: #0b92b0;
	margin-bottom: 10px;
}

.book-author {
	font-size: 1.125rem;
	color: #515151;
	font-style: italic;
}

.book-price {
	margin: 10px 0 10px;
	color: #845d36;
	font-weight: bold;
}

.book-price .dispo {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 12px;
}

.book-price .dispo.book-available {
	background-color: rgb(48, 251, 48);
}

.book-price .dispo.book-unavailable {
	background-color: rgb(251, 48, 48);
}

.book-author {
	margin-bottom: 10px;
}

.book-cart {
	margin-top: 5px;
	padding: 10px 30px;
	background-color: #845d36;
	color: #fff;
	border: none;
	border-radius: 7px;
	cursor: pointer;
}

.book-cart.book-unavailable,
.book-stock.book-available {
	display: none; /*? Afin de faire disparaitre le btn et faire apparaitre le petit txt */
}

.book-stock a {
	color: #845d36;
}

.book-plus {
	text-align: right;
	padding: 20px;
	font-style: italic;
	cursor: pointer;
}
/* ? ******************************** MAIN END **************************************/

/* ? *************** ARTICLE PAGE *************************/
/************** book-spotlight ******************/
section.book-spotlight {
	padding: 50px;
	background-color: red; /*! provisoire*/
	display: flex;
}

.book-spotlight-right {
	margin-left: 50px;
}

.book-spotlight-right-title {
	/* TODO:video 10 ---25m03s */
}
/* ? ************** ARTICLE PAGE END *********************/
